<html>
<head>
  <meta charset="utf-8">
  <title>SDVL</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<div>
  <div class="header">
    <p class="font30px">Association Mode</p>
  </div>
  <div class="funcBody">

    <h1>共通の単語を入力して下さい</h1>

    <div class="wrap-image">
      <img src="/static/assets/OTattFQ8vHf1iuPZv94sE3Gj3G22/{{word}}/{{path[0]}}.png" alt="img"><br>
      <h5 class="fs-2"><span class="border">　?　</span>{{data['keywords'][0]}}</h5>
      <img src="/static/assets/OTattFQ8vHf1iuPZv94sE3Gj3G22/{{word}}/{{path[1]}}.png" alt="img"><br>
      <h5 class="fs-2"><span class="border">　?　</span>{{data['keywords'][1]}}</h5>
      <img src="/static/assets/OTattFQ8vHf1iuPZv94sE3Gj3G22/{{word}}/{{path[2]}}.png" alt="img"><br>
      <h5 class="fs-2"><span class="border">　?　</span>{{data['keywords'][2]}}</h5>
    </div>

    

    <form action="/association" method="POST">
      <div class="row g-3 align-items-center m-3">
        <div class="col-auto">
          <label for="inputPassword6" class="col-form-label fs-5">英単語を入力</label>
        </div>
        <div class="col-auto">
          <input type="text" id="answer" name="answer" class="form-control" aria-describedby="passwordHelpInline">
        </div>
        
      </div>

      <div class="row g-3 align-items-center m-3">
        <h3 class="col-auto">ヒント：</h3>
        <h3 class="col-auto">{{data['pos']}}，</h3>
        <div class="col-auto">
          <span class="fs-3">
            {{data['hint']}}
          </span>
        </div>
      </div>

      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-secondary btn-lg m-auto" >解答</button>
      </div>
        
      
    </form>
    </div>

  </div>

  
    
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/style.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</div>

</body>
</html>