<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>SDVL</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<div>
  <div class="header">
    <p class="font30px">キーワード連想</p>
  </div>
  <div class="container">
    <div class="funcBody">

      <h3>共通の単語を入力して下さい</h3>
  
      <div class="wrap-image">
        <img src="{{path[0]}}" alt="img"><br>
        <h5 class="fs-2"><span class="border">　?　</span>　{{data['keywords'][0]}}</h5>
        <img src="{{path[1]}}" alt="img"><br>
        <h5 class="fs-2"><span class="border">　?　</span>　{{data['keywords'][1]}}</h5>
        <img src="{{path[2]}}" alt="img"><br>
        <h5 class="fs-2"><span class="border">　?　</span>　{{data['keywords'][2]}}</h5>
      </div>
  
      
  
      <form action="/association" method="POST">

        <p class="text-center fs-4 mt-3">英単語を入力</p>
        <input type="text" id="answer" name="answer" class="form-control" aria-describedby="passwordHelpInline">

  
        <div class="row g-3 align-items-center m-3">
          
          <h3 class="col-auto">{{data['pos']}},</h3>
          <div class="col-auto">
            <span class="fs-4">
              {{data['hint']}}
            </span>
          </div>
        </div>
  
        <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-secondary btn-lg m-auto" >解答</button>
        </div>
          
        
      </form>
      </div>
  
    </div>
  </div>
  

  
    
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/style.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</div>

</body>
</html>