<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <title>SDVL</title>
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>


  <div class="header">
    <p class="font30px">画像暗記</p>
  </div>
  <div class="container">
  <div class="funcBody">

    <div class="image">
      <img src="{{path[0]}}" class="m-3" alt="img"><br>
      <img src="{{path[1]}}" class="m-3" alt="img"><br>
      <img src="{{path[2]}}" class="m-3" alt="img"><br>
    </div>

    
    <form action="{{url_for('memorize_card')}}">

      <button id="card" class="flashcard" type="submit" name="mode" value="translate,{{word}}" formmethod="POST">
        <h1 class="card-title">{{word}}</h1>
        <h6 class="card-subtitle text-muted">タップしてめくる</h6>
      </button>

    </form>

    
    <form action="/memorize">
      <div class="row justify-content-around">
        <div class="col">
          <button type="submit" name="mode" value="next,not" formmethod="POST" class="btn btn-danger m-3">try again</button>
        </div>
        <div class="col">
          <button type="submit" name="mode" value="next,remembered" formmethod="POST" class="btn btn-success m-3">remembered</button>
        </div>
      </div>
    </form>

  </div>
    
  <link rel="stylesheet" href="/static/css/style.css">
</div>

</body>
</html>