<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <title>SDVL</title>
</head>
<body>

<div class="container">

  <div class="text-center">
    <h1 class="m-3">単語セットを選択してください</h1>
    {% if annotated != [] %}
      <h4>完了済：{{annotated}}</h4>
    {% endif %}
  </div>
  
  <div class="text-center mt-5">
    <form action="/annotation">
        {% for i in index_list %}
            <button type="submit" formmethod="GET" name="wordlist" value="{{i}}" class="btn-danger fs-3 m-3 text-decoration-none">{{i}}</button><br>
        {% endfor %}
    
    </form>
    </div>
  
</div>

</body>
</html>